body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }
  a:visited {
    color: #666; }
  a:hover {
    color: #fff;
    background-color: #000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table; }

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px; }
  #errorExplanation ul li {
    font-size: 12px;
    list-style: square; }

#whole_page {
  width: 950px; }

.clear {
  clear: left; }

.left {
  float: left; }

.right {
  float: right;
  clear: none; }

.help {
  background-color: #aaffaa;
  color: #0000bb;
  font-family: times;
  font-size: 2em;
  line-height: 1.5em; }

ul.horizontal li {
  display: block;
  float: left; }

#header {
  border-bottom: 1px black dotted; }
  #header .logo {
    float: left;
    font-family: arial; }
    #header .logo h1 {
      font-size: 4em;
      margin-bottom: 0; }
    #header .logo h2 {
      margin-top: 10px;
      padding-left: 50px;
      font-size: 1.3em;
      color: #777; }
  #header .tools {
    float: right; }

.body {
  height: 200px;
  overflow: auto;
  white-space: pre-wrap;
  border: solid 1px;
  border-color: #ccc; }

.module {
  margin-top: 15px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid thick #777;
  background-color: white;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
  .module .tools {
    float: left;
    clear: none;
    padding: 5px;
    width: 300px; }
    .module .tools li {
      font-face: arial;
      font-size: 2em;
      list-style-type: none;
      height: 2em;
      text-align: right; }
      .module .tools li a {
        font-size: 0.5em;
        display: block;
        float: left;
        width: 100px;
        margin-left: 10px;
        border: 1px solid;
        border-color: #eee #999 #999 #eee;
        -moz-border-radius: 3px;
        text-decoration: none;
        background-color: #00aa00;
        padding-left: 2px;
        text-align: center;
        color: white; }
      .module .tools li a.red1 {
        background-color: #aa0000; }
    .module .tools li.vote_down {
      color: #aa0000; }
    .module .tools li.vote_up {
      color: #00aa00; }
  .module .header h3 {
    display: block;
    height: 20px;
    font-size: 2em;
    color: #00aa00; }
    .module .header h3 a {
      text-decoration: none;
      color: #00aa00; }
  .module .header h4 {
    color: #00cc33;
    font-size: 1em; }
    .module .header h4 a:visited {
      color: #00cc33; }
  .module .content {
    float: left; }

.summary {
  width: 60em; }
  .summary .tools {
    width: 15em; }
  .summary .content {
    width: 40em; }
    .summary .content .body {
      overflow: none; }

.document {
  width: 70em; }
  .document .tools {
    width: 22em; }
  .document .content {
    width: 47em; }

#new_summary_page .summary {
  width: 380px; }
#new_summary_page .left {
  width: 410px; }
#new_summary_page .right {
  float: left;
  width: 510px; }
  #new_summary_page .right .document {
    width: 100%; }
