body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }
  a:visited {
    color: #666; }
  a:hover {
    color: #fff;
    background-color: #000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table; }

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px; }
  #errorExplanation ul li {
    font-size: 12px;
    list-style: square; }

#whole_page {
  width: 950px; }

.clear {
  clear: left; }

.left {
  float: left; }

.right {
  float: right;
  clear: none; }

.help {
  background-color: #0f0;
  color: #00b;
  font-family: times;
  font-size: 2em;
  line-height: 1.5em; }

#header {
  border-bottom: 1px black dotted; }
  #header .logo {
    float: left;
    font-family: arial; }
    #header .logo h1 {
      font-size: 4em;
      margin-bottom: 0; }
    #header .logo h2 {
      margin-top: 10px;
      padding-left: 50px;
      font-size: 1.3em;
      color: #777; }
  #header .tools {
    float: right; }

.document {
  width: 700px;
  margin: 10px; }
  .document .body {
    height: 200px;
    overflow: auto; }

.summary {
  width: 600px; }

#new_summary_page .summary {
  width: 380px; }
#new_summary_page .left {
  width: 410px; }
#new_summary_page .right {
  float: left;
  width: 510px; }
  #new_summary_page .right .document {
    width: 100%; }

.module {
  margin-top: 15px;
  padding-left: 20px;
  border: solid thick #777;
  background-color: white;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-topright: 10px; }
