.created_at {
  font-weight: bold; }

body {
  background-color: white;
  color: #333333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 15px;
  width: 100%; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eeeeee;
  padding: 10px;
  font-size: 11px; }

form li {
  list-style-type: none;
  padding-top: 5px; }
  form li label {
    display: block;
    width: 100px;
    float: left;
    text-align: right;
    margin-right: 1em; }

a {
  color: black; }
  a:visited {
    color: #666666; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table; }

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #cc0000;
    color: white; }
  #errorExplanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 5px; }
  #errorExplanation ul li {
    font-size: 12px;
    list-style: square; }

#whole_page {
  width: 950px; }

.clear {
  clear: left; }

#summary_form {
  width: 300px;
  background-color: #ddffda;
  posotion: relative;
  top: -20px; }

.left {
  float: left; }

.right {
  float: right;
  clear: none; }

.help {
  display: none;
  background-color: #aaffaa;
  color: #0000bb;
  font-family: times;
  font-size: 2em;
  line-height: 1.5em; }

label {
  color: blue; }
  label.bigger {
    wdith: 100px;
    font-size: 1.2em; }

option {
  color: blue; }

a.hey {
  color: #0099ff;
  font-weight: bold;
  font-family: georgia;
  font-size: 1.5em; }

ul.horizontal li.pending_feature {
  display: none; }
ul.horizontal li {
  display: block;
  float: left; }

.pending_feature {
  display: none; }

#superheadermessagecenter {
  background-color: #eeeeee;
  padding-bottom: 1px;
  border-bottom: 1px dotted; }

#page {
  align: middle;
  margin: auto;
  width: 900px; }

#header {
  -moz-box-shadow: 2px 2px 5px;
  -webkit-box-shadow: 2px 2px 5px;
  box-shadow: 2px 2px 5px;
  width: 800px;
  white-space: no-wrap;
  border: 1px dotted #00aa00;
  background-color: #bbffcc;
  border-width: 2px; }
  #header .logo {
    width: 500px;
    font-family: arial; }
    #header .logo h1 {
      font-size: 3em;
      margin-bottom: 0;
      color: #00bb00; }
    #header .logo h2 {
      margin-top: 10px;
      padding-left: 50px;
      font-size: 1.3em;
      color: black; }
  #header .tools {
    width: 200px; }
  #header .stackleft {
    vertical-align: bottom;
    height: 85px;
    display: table-cell;
    color: red; }
  #header #share {
    width: 80px;
    valign: bottom; }

#main-content {
  width: 961px;
  padding-top: 8px; }

#footer {
  margin-top: 20px;
  border-top: 1px black dotted; }

#leftcolumn {
  float: left;
  width: 500px; }

#rightcolumn {
  border: solid blue 3px;
  padding: 20px 72px;
  background-color: #eeeeee;
  float: right;
  width: 250px;
  color: blue;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px; }

.document {
  margin-top: 25px;
  padding: 5px; }
  .document h2 {
    margin: 0;
    padding-bottom: 5px; }
    .document h2 a {
      color: #00aa00;
      font-family: georgia, times, serif;
      text-decoration: none; }
    .document h2 .links a {
      font-size: 14px;
      text-decoration: underline;
      color: blue; }

.stackleft {
  padding-right: 5px;
  width: 200px;
  float: left; }
  .stackleft p {
    margin: 0; }
  .stackleft p.indented {
    padding-left: 20px; }

.module {
  margin-top: 15px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 2px #777777;
  background-color: #eeeeee;
  border-radius: 10px;
  border-color: blue;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
  .module .character_count {
    color: #0099ff;
    font-weight: bold; }
  .module .tools {
    float: left;
    clear: none;
    padding: 5px;
    width: 300px; }
    .module .tools li {
      font-face: arial;
      font-size: 2em;
      list-style-type: none;
      height: 2em;
      text-align: right; }
      .module .tools li a {
        font-size: 0.5em;
        display: block;
        float: left;
        width: 100px;
        margin-left: 10px;
        border: 1px solid;
        border-color: #eeeeee #999999 #999999 #eeeeee;
        -moz-border-radius: 3px;
        text-decoration: none;
        background-color: #00aa00;
        padding-left: 2px;
        text-align: center;
        color: white; }
      .module .tools li a.red1 {
        background-color: #aa0000; }
      .module .tools li.vote_down {
        color: #aa0000; }
      .module .tools li.vote_up {
        color: #00aa00; }
  .module .header h3 {
    display: block;
    font-size: 2em;
    color: #00aa00; }
    .module .header h3 a {
      text-decoration: none;
      color: #00aa00; }
  .module .header h4 {
    color: #00cc33;
    font-size: 1em; }
    .module .header h4 a:visited {
      color: #00cc33; }
  .module .content {
    float: left; }
    .module .content .header h3 a {
      text-decoration: none; }
      .module .content .header h3 a:hover {
        text-decoration: underline; }

.summary {
  border-top: 10px; }
  .summary .stackleft:first-child {
    width: 400px; }
  .summary h3 {
    line-height: 5px; }
  .summary .body {
    font-family: Georgia, Verdana, serif;
    font-size: 1.1em;
    line-height: 20px;
    padding: 10px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 0px;
    width: 845px;
    overflow: none;
    border-top: 2px green solid;
    border-bottom: 6px black solid;
    background-color: #ddffda;
    white-space: pre-wrap;
    -moz-corner-radius-topleft: 5px; }
    .summary .body .character_count {
      font-weight: bold;
      font-family: arial, sans-serif;
      margin: 0;
      padding: 0;
      float: left;
      color: #00aa00;
      line-height: 0px; }

.document .name {
  font-family: arial;
  font-weight: bold;
  font-size: 1.2em; }
.document .stackleft:first-child {
  width: 300px; }
.document .stackleft:last-child {
  width: 300px; }
.document .tools {
  text-align: right;
  width: 200em; }
  .document .tools li a {
    padding-top: 2px;
    height: 20px;
    font-size: 0.4em; }
.document .content {
  width: 37em; }
  .document .content .body {
    display: none; }
