%h1
  Latest Summaries
.help
  Here you can see all the documents in our database and read them.  Click on a document's title to see the summaries people have written.
#leftcolumn
  = will_paginate @documents
  #documents
    - @documents.each do |document|
      - unless document.summaries.count == 0
        = render :partial => "summaries/fancy_with_document", :locals => {:summary => document.summaries.last, :link => true, :share => false}
        
#rightcolumn
  = render :partial => "about/about_shorter_version"
