%h1
  Documents we are tracking:
.help
  Here you can see all the documents in our database and read them.  Click on a document's title to see the summaries people have written.
#documents
  - @documents.each do |document|
    = render document
    