#document.module
  %h1
    = @document.name
  .tools
    = link_to "write a summary", new_document_summary_path(@document)
  %p.body
    = @document.body
    
#summaries
  - @document.summaries.each do |summary|
    = render summary