#superheadermessagecenter
  ShorterVersion is under active development.  You can follow along, request features, or join the work at
  = link_to "ShorterVersion's project page", "http://www.pivotaltracker.com/projects/69300"
  on Pivotal Tracker.
