#header
  .logo
    %h1
      ShorterVersion.com
    %h2
      documents summarized by the people, for the people
  .tools
    %ul
      %li
        = link_to "Add a Document", new_document_path
      %li
        = link_to "Browse Documents", documents_path
  .clear