!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title
      Documents:
      = controller.action_name
    = stylesheet_link_tag 'application'
  %body
    #header
      %h1
        ShorterVersion.com
      %h2
        documents summarized by the people, for the people
    %p{ :style => "color: green" }
      = flash[:notice]
    = yield
